//import

@import "utilidades/variables.scss";
@import "utilidades/extend.scss";
@import "utilidades/mixin.scss";
@import "htmlpages/contacto";
@import "htmlpages/mapa";
@import "htmlpages/nosotros";
@import "htmlpages/productos";

/*RESET*/
body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-color: $color-fondo;
    box-sizing: border-box;


    //HOME - lo trabaje desde aca asi no se hacia lio

    header {
        background-color: $color-navbar;

        .navbar-container {
            width: 100%;

            .navbar {
                font-family: $fuente-helveticafuerte;

                .container-seccion {
                    .navbar-brand {
                        margin: 0rem 4rem;
                    }

                    .collapse {
                        .posicion-paginas {
                            @include flex (flex, "", flex-end, "");
                            width: 95%;

                            .nav-item {
                                .nav-link:hover {
                                    transform: scale(0.85);
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    main {
        .carousel-posicion {
            width: 100%;
        }

        .proyectos-imagenes {
            display: grid;
            @include margen(1rem 3rem 5rem 3rem, $dosr);
            column-gap: $unr;
            row-gap: $unr;

            @include desktop {
                grid-template-columns: repeat(6, 1fr);
                grid-template-rows: repeat(3, 20rem);
            }

            @include notebook {
                grid-template-columns: repeat(6, 1fr);
                grid-template-rows: repeat(3, 20rem);
            }

            @include tablet {
                grid-template-columns: repeat(6, 1fr);
                grid-template-rows: repeat(3, 20rem);
            }

            @include mobile {
                grid-template-columns: repeat(1fr);
            }

            .img-uno {
                @include desktop {
                    @include griduso(span 2, 1);
                }

                @include notebook {
                    @include griduso(span 2, 1);
                }

                @include tablet {
                    @include griduso(span 2, 1);
                }
            }

            .img-dos {
                @include desktop {
                    @include gridusoampliado(3, 5, 2, "");
                }

                @include notebook {
                    @include gridusoampliado(3, 5, 2, "");
                }

                @include tablet {
                    @include gridusoampliado(3, 5, 2, "");
                }
            }

            .img-tres {
                @include desktop {
                    @include gridusoampliado(1, 3, 2, 3);
                }

                @include notebook {
                    @include gridusoampliado(1, 3, 2, 4);
                }

                @include tablet {
                    @include gridusoampliado(1, 3, 2, 4);
                }
            }

            .img-cuatro {
                @include desktop {
                    @include gridusoampliado(5, 7, 3, "");
                }

                @include notebook {
                    @include gridusoampliado(5, 7, 3, "");
                }

                @include tablet {
                    @include gridusoampliado(5, 7, 3, "");
                }
            }

            .img-cinco {
                @include desktop {
                    @include gridusoampliado(4, 6, 1, "");
                }

                @include notebook {
                    @include gridusoampliado(4, 6, 1, "");
                }

                @include tablet {
                    @include gridusoampliado(4, 6, 1, "");
                }
            }

            .img-seis {
                display: none;

                @include desktop {
                    display: block;
                    @include gridusoampliado(3, 5, 3, "");
                }

                @include notebook {
                    display: block;
                    @include gridusoampliado(3, 5, 3, "");
                }

                @include tablet {
                    display: block;
                    @include gridusoampliado(3, 5, 3, "");
                }
            }

            .img-siete {
                @include desktop {
                    @include gridusoampliado(5, 7, 2, "");
                }

                @include notebook {
                    @include gridusoampliado(5, 7, 2, "");
                }

                @include tablet {
                    @include gridusoampliado(5, 7, 2, "");
                }
            }

            .img-ocho {
                display: none;

                @include desktop {
                    display: block;
                    @include griduso(3, 1);
                    object-position: top 20%;
                }

                @include notebook {
                    display: block;
                    @include griduso(3, 1);
                    object-position: top 20%;
                }

                @include tablet {
                    display: block;
                    @include griduso(3, 1);
                    object-position: top 20%;
                }
            }

            .img-nueve {
                display: none;

                @include desktop {
                    display: block;
                    @include griduso(6, 1);
                }

                @include notebook {
                    display: block;
                    @include griduso(6, 1);
                }

                @include tablet {
                    display: block;
                    @include griduso(6, 1);
                }
            }

            div {
                img {
                    @include tamaño(100%, 100%);
                    @include posicion (cover, "");
                }
            }
        }
    }


    // Footer tambien esta trabajado solo en esta pagina

    footer {
        .container-footer {
            background-color: $color-secundario;
            @include fuentes ($fuente-helveticafuerte, "", "");

            @include desktop {
                @include tamaño(100%, "");
                @include grid-footerxl;
            }

            @include notebook {
                @include tamaño(100%, "");
                @include grid-footerxl;
            }

            @include tablet {
                @include tamaño(100%, "");
                @include grid-footerxl;
            }

            @include mobile {
                @include tamaño(100%, "");
                @include flex (flex, column, "", "");
            }

            .footer-column01 {
                @include textos ("", uppercase);

                @include desktop {
                    @include griduso (1, 1);
                    @include flex (flex, column, center, center);
                    @include fuentes("", $seisc, $unr);
                }

                @include notebook {
                    @include griduso (1, 1);
                    @include flex (flex, column, center, center);
                    @include fuentes("", $seisc, $unr);
                }

                @include tablet {
                    @include griduso (1, 1);
                    @include flex (flex, column, center, center);
                    @include fuentes("", $seisc, $unr);
                }

                @include mobile {
                    @include flex (flex, column, center, center);
                    @include fuentes("", $seisc, $unr);
                }

                .logo-image {
                    @include desktop {
                        width: 10rem;
                    }

                    @include notebook {
                        width: 10rem;
                    }

                    @include tablet {
                        width: 9rem;
                    }

                    @include mobile {
                        width: 8rem;
                    }
                }

                .logo-description {
                    font-family: $fuente-helveticafuerte;
                }

            }

            .footer-column02 {
                @include desktop {
                    @include griduso (2, 1);
                    @include flex (flex, column, center, center);
                    @include fuentes($fuente-helveticafuerte, $seisc, $unr);
                }

                @include notebook {
                    @include griduso (2, 1);
                    @include flex (flex, column, center, center);
                    @include fuentes($fuente-helveticafuerte, $seisc, $unr);
                }

                @include tablet {
                    @include griduso (2, 1);
                    @include flex (flex, column, center, center);
                    @include fuentes($fuente-helveticafuerte, $seisc, $unr);
                }

                @include mobile {
                    @include flex (flex, column, center, center);
                    @include fuentes($fuente-helveticafuerte, $seisc, $unr);
                }

                h4 {
                    @include textos ("", uppercase);
                }

                ul {
                    list-style: none;

                    .list-link {
                        text-decoration: none;
                        color: $color-button;
                    }
                }
            }

            .footer-column03 {
                @include desktop {
                    @include griduso (3, 1);
                    @include flex (flex, column, center, center);
                }

                @include notebook {
                    @include griduso (3, 1);
                    @include flex (flex, column, center, center);
                }

                @include tablet {
                    @include griduso (3, 1);
                    @include flex (flex, column, center, center);
                }

                @include mobile {
                    @include flex (flex, column, center, center);
                }

                .icon-link {
                    text-decoration: none;
                    color: $color-button;
                    margin: $cecir;
                }

            }
        }

    }


}